/********Template hero styles***/
.fullscreen{
    height:100%;
    position:relative;
    overflow:hidden;
}
.mouse-down{
    position: absolute!important;
    left:0;
    width:100%;
    bottom:0;
    text-align: center;
    z-index:1;
}
