$title-font:'Poppins', sans-serif;
$styled-font:'Playfair Display', serif;
$base-font:'Raleway', sans-serif;
$primary-color:#5292bf;
$danger-color:#c9302c;
$success-color:#5cb85c;
$warning-color:#f0ad4e;
$default-color:#f7f7f7;
$dark-color:#333;
$info-color:#5bc0de;

